<h1 class="text-center">PortlandBridge</h1>
<br>
<div class=header>
  <div id="navbar" class="text-center">
    <button class="navButton">@Html.ActionLink("Companies", "Index", "Companies")</button>
    <button class="navButton">@Html.ActionLink("Categories", "Index", "Categories")</button>
    <button class="navButton">@Html.ActionLink("Courses", "Index", "Courses")</button>
    <button>@Html.ActionLink("Home", "Index", "Home")</button>
   
  </div>