@{
    ViewData["Title"] = "Home Page";
}
<div class="intro">
    <div class="intro-text text-center">
        <h2 class="display-4">Welcome to PortlandBridge – Your Diversity Hub in the Heart of Portland!</h2>
        <p>At PortlandBridge, we're dedicated to fostering unity, inclusivity, and connection within the vibrant and diverse
            community of Portland, Oregon. As a hub for diversity, we strive to bridge gaps, build understanding, and
            celebrate the rich tapestry of cultures, perspectives, and experiences that make Portland such a unique and
            welcoming city.</p>
        <br />
        <p>Whether you're looking for resources, events, businesses, or simply seeking to connect with like-minded
            individuals, PortlandBridge is here to support and empower you on your journey towards a more inclusive and
            equitable Portland.</p>
        <br />
        <p>Join us as we build bridges, foster unity, and create a brighter future together!</p>
    </div>
</div>
